{% set pageTitle = 'Верстка сайтов' %}
{% set pageDescription = 'SV-Coding' %}

{% extends './layouts/layout.njk' %}

{% block content %}
  {% include 'partials/_hero.njk' %}

  <div class="collections uk-margin-top">
    <div class="uk-container">
      {% set collections = [
        { title: 'Safari', img: 'cabine1' },
        { title: 'Walk in', img: 'cabine2' },
        { title: 'Viscount', img: 'cabine3' },
        { title: 'Hotel', img: 'cabine4' },
        { title: 'Viscount', img: 'cabine4' },
        { title: 'Safari', img: 'cabine3' },
        { title: 'Hotel', img: 'cabine2' },
        { title: 'Safari', img: 'cabine1' }
      ] %}
      <div
        class="collections-grid uk-grid uk-grid-small uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l"
        data-uk-grid="">
        {% for collection in collections %}
          <a href="#" class="uk-link-reset">
            <article class="collections-item uk-box-shadow-hover-large uk-cover-container">
              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="resources/img/cabines/{{ collection.img }}.jpg"
                   alt="Коллекция Safari" title="Коллекция Safari" data-uk-img="" data-uk-cover="">
              <div class="collections-item__content">
                <div class="collections-item__content--title">
                  <span>Коллекция</span>
                  <h2>{{ collection.title }}</h2>
                </div>
                <div class="collections-item__content--list">
                  <ul>
                    <li>Беспрофильная серия</li>
                    <li>Стальная фурнитура</li>
                    <li>Обработка стекла "антикапля"</li>
                    <li>Смена цветовых вставок</li>
                    <li>Толщина стекла 8мм</li>
                    <li>Высота модели без основания 1950мм</li>
                  </ul>
                </div>
              </div>
            </article>
          </a>
        {% endfor %}
      </div>
    </div>
  </div> {# /.collections #}

  <section class="best products uk-section">
    <div class="uk-container">
      <header>
        <h2 class="uk-text-center">Лучшие цены месяца</h2>
      </header>

      <ul class="best-switcher uk-margin-medium-top" data-uk-switcher="animation: uk-animation-fade">
        <li><a href="#">Новинки</a></li>
        <li><a href="#">Распродажа</a></li>
        <li><a href="#">Хиты продаж</a></li>
      </ul>

      {% set numbers = [1, 2, 3] %}
      {% set products = [
        { title: 'Перегородка для душа RGW WA-010B', price: '129 000' },
        { title: 'Перегородка для душа RGW WA-010B', price: '132 000' },
        { title: 'Перегородка для душа RGW WA-010B', price: '111 000' },
        { title: 'Перегородка для душа RGW WA-010B', price: '190 000' },
        { title: 'Перегородка для душа RGW WA-010B', price: '232 000' },
        { title: 'Перегородка для душа RGW WA-010B', price: '111 000' },
        { title: 'Перегородка для душа RGW WA-010B', price: '233 000' },
        { title: 'Перегородка для душа RGW WA-010B', price: '222 000' }
      ] %}
      <ul class="uk-switcher uk-margin-medium-top">
        {% for number in numbers %}
          <li>
            <div
              class="products-grid uk-grid uk-grid-small uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l "
              data-uk-grid>
              {% for product in products %}
                <div>
                  <article class="products-item uk-box-shadow-hover-medium">
                    <div class="products-item__meta">
                      <h3><a href="#" class="uk-link-reset">{{ product.title }}</a></h3>
                      <div class="products-item__meta--price">
                        <span>149 000р.</span>
                        <span>{{ product.price }}р.</span>
                      </div>
                      <span class="products-item__meta--discount">-15%</span>
                    </div>
                    <div class="products-item__slideshow uk-position-relative" data-uk-slideshow="ratio: false">
                      <div class="products-item__slideshow--buttons">
                        <a href="#"><span data-uk-icon="cart"></span></a>
                        <a href="#"><span data-uk-icon="search"></span></a>
                        <a href="#"><span data-uk-icon="heart"></span></a>
                      </div>
                      <ul class="products-item__slideshow--items uk-slideshow-items">
                        <li>
                          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                               data-src="resources/img/cabines/cabine1.jpg"
                               alt="Душевая кабина" title="Душевая кабина" data-uk-img="" data-uk-cover>
                        </li>
                        <li>
                          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                               data-src="resources/img/cabines/cabine2.jpg"
                               alt="Душевая кабина" title="Душевая кабина" data-uk-img="" data-uk-cover>
                        </li>
                        <li>
                          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                               data-src="resources/img/cabines/cabine3.jpg"
                               alt="Душевая кабина" title="Душевая кабина" data-uk-img="" data-uk-cover>
                        </li>
                      </ul>
                      <ul class="products-item__slideshow--dots uk-slideshow-nav uk-dotnav"></ul>
                    </div>
                  </article>
                </div>
              {% endfor %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section> {# /.best #}

  {% include 'partials/_banner.njk' %}

  <section class="promos uk-section bg-light-gray">
    <div class="uk-container">
      <header>
        <h2 class="uk-text-center">Промоакции</h2>
      </header>

      {% set promos = [1, 2, 3, 4, 5] %}
      <div class="promos-slider uk-position-relative uk-margin-medium-top" data-uk-slider="autoplay: true">
        <div class="uk-slider-container">
          <ul
            class="promos-slider__items uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid uk-grid-small uk-grid-match">
            {% for promo in promos %}
              <li>
                  <a href="#" class="promos-slider__item uk-link-reset">
                    <span class="promos-slider__item--discount">-15%</span>
                    <figure class="promos-slider__item--image uk-cover-container">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                           data-src="resources/img/cabines/cabine{{ promo }}.jpg"
                           alt="Название новости" title="Название новости" data-uk-img="" data-uk-cover="">
                    </figure>
                    <div class="promos-slider__item--wrapper">
                      <div class="promos-slider__item--countdown"
                           data-uk-countdown="date: 2021-04-24T19:21:55+00:00">
                        <div class="uk-box-shadow-medium">
                          <span class="uk-countdown-number uk-countdown-days"></span>
                          <small>дней</small>
                        </div>
                        <div class="uk-box-shadow-medium">
                          <span class="uk-countdown-number uk-countdown-hours"></span>
                          <small>часов</small>
                        </div>
                        <div class="uk-box-shadow-medium">
                          <span class="uk-countdown-number uk-countdown-minutes"></span>
                          <small>минут</small>
                        </div>
                        <div class="uk-box-shadow-medium">
                          <span class="uk-countdown-number uk-countdown-seconds"></span>
                          <small>сек</small>
                        </div>
                      </div>
                      <h3 class="promos-slider__item--title">Скидки на трапы RGW</h3>
                      <p class="promos-slider__item--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque
                        est
                        fugit illo magni placeat, provident quam qui quos vero voluptas.</p>
                    </div>
                  </a>
              </li>
            {% endfor %}
          </ul>

          <a class="uk-position-center-left-out uk-visible@s" href="#" data-uk-slidenav-previous
             data-uk-slider-item="previous"></a>
          <a class="uk-position-center-right-out uk-visible@s" href="#" data-uk-slidenav-next
             data-uk-slider-item="next"></a>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-top uk-hidden@m"></ul>
        </div>
      </div>

      <div class="promos-button uk-text-center uk-margin-medium-top">
        <a href="#" class="uk-button uk-button-primary">Все промо акции <span data-uk-icon="arrow-right"></span></a>
      </div>
    </div>
  </section> {# /.promos #}

  <section class="news uk-section">
    <div class="uk-container">
      <header>
        <h2 class="uk-text-center">Актуальные новости</h2>
      </header>

      {% set posts = [1, 2, 3, 4, 5] %}
      <div class="news-slider uk-position-relative uk-margin-medium-top" data-uk-slider="autoplay: true">
        <div class="uk-slider-container">
          <ul
            class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid uk-grid-small">
            {% for post in posts %}
              <li>
                <a class="news-item uk-link-reset">
                  <figure class="news-item__image uk-cover-container">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-src="resources/img/cabines/cabine{{ post }}.jpg"
                         alt="Название новости" title="Название новости" data-uk-img="" data-uk-cover="">
                  </figure>
                  <div class="news-item__wrapper">
                    <span class="news-item__date">21.03.2021</span>
                    <h3 class="news-item__title">С международным женским днем 8 марта!</h3>
                    <p class="news-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque
                      est
                      fugit illo magni placeat, provident quam qui quos vero voluptas.</p>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>

          <a class="uk-position-center-left-out uk-visible@s" href="#" data-uk-slidenav-previous
             data-uk-slider-item="previous"></a>
          <a class="uk-position-center-right-out uk-visible@s" href="#" data-uk-slidenav-next
             data-uk-slider-item="next"></a>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-top uk-hidden@m"></ul>
        </div>
      </div>

      <div class="news-button uk-text-center uk-margin-medium-top">
        <a href="#" class="uk-button uk-button-primary">Все новости <span data-uk-icon="arrow-right"></span></a>
      </div>
    </div>
  </section> {# /.news #}

  <section class="about uk-section bg-light-gray">
    <div class="uk-container">
      <header>
        <h2>О компании RGW</h2>
      </header>

      <div class="uk-grid uk-child-width-1-2@m uk-margin-medium-top" data-uk-grid="">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium animi, atque blanditiis
            consequatur corporis culpa deleniti deserunt est excepturi facere fugit illum laboriosam laudantium minus,
            necessitatibus nobis obcaecati officiis quasi, quibusdam quis quisquam quod similique sit tempora tenetur
            vero? Amet consequuntur explicabo maxime quod tempore. Ab aspernatur, possimus.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut cum eos expedita in ipsa maiores possimus
            praesentium vero vitae. Aspernatur commodi et, illum inventore ipsam perferendis ratione repellat sit.</p>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquid aperiam architecto aspernatur
            deleniti dignissimos dolor doloribus ea, eaque eius fugiat fugit hic, id in ipsum maxime modi nam non
            nostrum obcaecati odit placeat porro quae qui quia quibusdam quis quo ratione rem repellendus saepe suscipit
            unde voluptas voluptate voluptatem voluptatibus? Animi aut commodi corporis quisquam quo sint,
            veritatis?</p>
        </div>
      </div>
    </div>
  </section> {# /.about #}

  {% include 'partials/_banner.njk' %}
{% endblock %}
