{% set pageTitle = 'Верстка сайтов' %}
{% set pageDescription = 'SV-Coding' %}
{% set breadcrumbsTitle = 'Оплата и доставка' %}

{% extends './layouts/layout.njk' %}

{% block content %}
  {% include './partials/_breadcrumbs.njk' %}

  <section class="payment uk-margin-medium-top uk-margin-large-bottom">
    <div class="uk-container">
      <header class="uk-margin-medium-bottom">
        <h2>Оплата и доставка</h2>
      </header>

      <div class="uk-grid" data-uk-grid="">
        <div class="uk-width-1-5@m">
          <div class="payment-switcher" data-uk-switcher="connect: .payment-items; toggle: > *; animation: uk-animation-fade">
            <a href="#">Возврат товара</a>
            <a href="#">Доставка и оплата</a>
            <a href="#">Договор-оферта</a>
          </div>
        </div>

        <div class="uk-width-4-5@m">
          <div class="payment-items uk-switcher">
            <div>
              <h3>Варианты доставки:</h3>
              <ul>
                <li>Самовывоз</li>
                <li>Доставка водителем-экспедитором по Москве и МО</li>
                <li>Доставка транспортной компанией по России (рассчитать стоимость доставки можно на сайте ТК)</li>
              </ul>
              <p>Доставка заказов курьерской компанией осуществляется по территории РФ. Стоимость доставки рассчитывается при оформлении заказа и включается в общую стоимость. Срок сборки заказа 1-2 рабочих дня. После этого заказ будет передан в курьерскую компанию.
                Время работы интернет-магазина: пн-чт 9.00-18.00, пт 9.00-15.30. Если заказ был сделан на выходных, то он будет собран и отправлен на следующий рабочий день. Доставка осуществляется согласно срокам доставки курьерской компании, по будням с 9.00 до 18.00. Покупатель информируется о доставке с помощью SMS и/или предварительного звонка курьера.</p>
              <h3>Москва и Московская область:</h3>
              <ul>
                <li>Самовывоз - г. Подольск, ул. Вишневая 11 - бесплатно</li>
                <li>Доставка по Москве в пределах МКАД свыше суммы 50 000 руб. - бесплатно</li>
                <li>Доставка по Москве в пределах МКАД до суммы 50 000 руб. - 1 250 руб.</li>
                <li>Доставка за МКАД и по Московской области +50 руб./км.</li>
                <li>Срок доставки составляет от 1-го до 3-х дней в зависимости от загруженности курьерской службы</li>
                <li>Доставка осуществляется «до подъезда». В стоимость доставки не включен подъем товара и расчитывается отдельно</li>
                  <li>Обратите внимание на вес доставляемого товара, он может быть свыше 50 кг. Возможно потребуются квалифицированные грузчики</li>
              </ul>
            </div>

            <div>
              <h3>Оплата:</h3>
              <ul>
                <li>Самовывоз</li>
                <li>Доставка водителем-экспедитором по Москве и МО</li>
                <li>Доставка транспортной компанией по России (рассчитать стоимость доставки можно на сайте ТК)</li>
              </ul>
              <p>Доставка заказов курьерской компанией осуществляется по территории РФ. Стоимость доставки рассчитывается при оформлении заказа и включается в общую стоимость. Срок сборки заказа 1-2 рабочих дня. После этого заказ будет передан в курьерскую компанию.
                Время работы интернет-магазина: пн-чт 9.00-18.00, пт 9.00-15.30. Если заказ был сделан на выходных, то он будет собран и отправлен на следующий рабочий день. Доставка осуществляется согласно срокам доставки курьерской компании, по будням с 9.00 до 18.00. Покупатель информируется о доставке с помощью SMS и/или предварительного звонка курьера.</p>
              <h3>Москва и Московская область:</h3>
              <ul>
                <li>Самовывоз - г. Подольск, ул. Вишневая 11 - бесплатно</li>
                <li>Доставка по Москве в пределах МКАД свыше суммы 50 000 руб. - бесплатно</li>
                <li>Доставка по Москве в пределах МКАД до суммы 50 000 руб. - 1 250 руб.</li>
                <li>Доставка за МКАД и по Московской области +50 руб./км.</li>
                <li>Срок доставки составляет от 1-го до 3-х дней в зависимости от загруженности курьерской службы</li>
                <li>Доставка осуществляется «до подъезда». В стоимость доставки не включен подъем товара и расчитывается отдельно</li>
                <li>Обратите внимание на вес доставляемого товара, он может быть свыше 50 кг. Возможно потребуются квалифицированные грузчики</li>
              </ul>
            </div>

            <div>
              <h3>Оферта:</h3>
              <ul>
                <li>Самовывоз</li>
                <li>Доставка водителем-экспедитором по Москве и МО</li>
                <li>Доставка транспортной компанией по России (рассчитать стоимость доставки можно на сайте ТК)</li>
              </ul>
              <p>Доставка заказов курьерской компанией осуществляется по территории РФ. Стоимость доставки рассчитывается при оформлении заказа и включается в общую стоимость. Срок сборки заказа 1-2 рабочих дня. После этого заказ будет передан в курьерскую компанию.
                Время работы интернет-магазина: пн-чт 9.00-18.00, пт 9.00-15.30. Если заказ был сделан на выходных, то он будет собран и отправлен на следующий рабочий день. Доставка осуществляется согласно срокам доставки курьерской компании, по будням с 9.00 до 18.00. Покупатель информируется о доставке с помощью SMS и/или предварительного звонка курьера.</p>
              <h3>Москва и Московская область:</h3>
              <ul>
                <li>Самовывоз - г. Подольск, ул. Вишневая 11 - бесплатно</li>
                <li>Доставка по Москве в пределах МКАД свыше суммы 50 000 руб. - бесплатно</li>
                <li>Доставка по Москве в пределах МКАД до суммы 50 000 руб. - 1 250 руб.</li>
                <li>Доставка за МКАД и по Московской области +50 руб./км.</li>
                <li>Срок доставки составляет от 1-го до 3-х дней в зависимости от загруженности курьерской службы</li>
                <li>Доставка осуществляется «до подъезда». В стоимость доставки не включен подъем товара и расчитывается отдельно</li>
                <li>Обратите внимание на вес доставляемого товара, он может быть свыше 50 кг. Возможно потребуются квалифицированные грузчики</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {# /.contacts #}
{% endblock %}
