{% set pageTitle = 'Верстка сайтов' %}
{% set pageDescription = 'SV-Coding' %}
{% set breadcrumbsTitle = 'Душевая стойка или душевая панель? ' %}

{% extends './layouts/layout.njk' %}

{% block content %}
  {% include './partials/_breadcrumbs.njk' %}

  <article class="post uk-margin-medium-top uk-margin-large-bottom">
    <div class="uk-container uk-container-small">
      <figure class="post-image">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             data-src="resources/img/post/post1.png"
             alt="Пост" title="Пост" data-uk-img="">
      </figure>

      <div class="post-text">
        <blockquote>Стойка это цельная конструкция в которой есть верхний душ, ручной душ, смеситель, излив. В
          зависимости от модели есть регулировки верхнего душа и ручного душа по высоте.
          Ручной душ - одно из главных преимуществ такой модели, так как система имеет штангу, вы без проблем сможете
          регулировать не только угол наклона, но и высоту.
        </blockquote>

        <figure style="float: right;">
          <img src="resources/img/post/post2.png" alt="Изображение">
          <figcaption>Душевая кабина</figcaption>
        </figure>

        <p>Выбор панели или стойки сильно зависит от Ваших индивидуальных предпочтений, именно поэтому мы разберём
          преимущества каждой душевой системы. Стойка это цельная конструкция в которой есть верхний душ, ручной душ,
          смеситель, излив. В зависимости от модели есть регулировки верхнего душа и ручного душа по высоте.</p>
        <p>Ручной душ - одно из главных преимуществ такой модели, так как система имеет штангу, вы без проблем сможете
          регулировать не только угол наклона, но и высоту.
          Верхний душ, мыться под которым намного приятнее, чем, например, под обычной лейкой со шлагом. Многие выбирают
          стойки именно по этой причине.</p>

        <p>Кроме того, душевые стойки можно использовать как в душевых уголках и нишах, так и над ванной. Включает в
          себя ручной душ на эластичном шланге, верхний душ, массажные форсунки, смеситель, переключатель режимов.
          Корпус может быть из нержавеющей стали или алюминия в белом или чёрном цвете.
          Компактность - такую систему можно практически в любом месте, как в углу, так и по центру стены.</p>
        <p>Дизайн - сейчас душевые панели можно найти на любой вкус и прекрасно дополнить любой интерьер.
          Мы постарались выделить основные преимущества, которые могут повлиять на Ваш выбор, теперь слово за вами!</p>

        <ul>
          <li>Выбор панели или стойки сильно зависит от Ваших индивидуальных предпочтений, именно поэтому мы разберём
            преимущества каждой душевой системы.
          </li>
          <li>Ручной душ - одно из главных преимуществ такой модели, так как система имеет штангу, вы без проблем
            сможете регулировать не только угол наклона, но и высоту.
          </li>
          <li>Верхний душ, мыться под которым намного приятнее, чем, например, под обычной лейкой со шлагом. Многие
            выбирают стойки именно по этой причине.
          </li>
          <li>Кроме того, душевые стойки можно использовать как в душевых уголках и нишах, так и над ванной. Включает в
            себя ручной душ на эластичном шланге, верхний душ, массажные форсунки
          </li>
        </ul>

        <h2>Дешевые душевые кабины</h2>

        <figure style="float: left;">
          <img src="resources/img/post/post2.png" alt="Изображение">
          <figcaption>Душевая кабина</figcaption>
        </figure>

        <p>Выбор панели или стойки сильно зависит от Ваших индивидуальных предпочтений, именно поэтому мы разберём
          преимущества каждой душевой системы. Стойка это цельная конструкция в которой есть верхний душ, ручной душ,
          смеситель, излив. В зависимости от модели есть регулировки верхнего душа и ручного душа по высоте.</p>
        <p>Ручной душ - одно из главных преимуществ такой модели, так как система имеет штангу, вы без проблем сможете
          регулировать не только угол наклона, но и высоту.
          Верхний душ, мыться под которым намного приятнее, чем, например, под обычной лейкой со шлагом. Многие выбирают
          стойки именно по этой причине.</p>

        <p>Кроме того, душевые стойки можно использовать как в душевых уголках и нишах, так и над ванной. Включает в
          себя ручной душ на эластичном шланге, верхний душ, массажные форсунки, смеситель, переключатель режимов.
          Корпус может быть из нержавеющей стали или алюминия в белом или чёрном цвете.
          Компактность - такую систему можно практически в любом месте, как в углу, так и по центру стены.</p>
        <p>Дизайн - сейчас душевые панели можно найти на любой вкус и прекрасно дополнить любой интерьер.
          Мы постарались выделить основные преимущества, которые могут повлиять на Ваш выбор, теперь слово за вами!</p>
      </div>

      <div class="post-links">
        <a href="#"><span data-uk-icon="link"></span> Скопировать ссылку</a>
        <a href="#"><span data-uk-icon="social"></span> Поделиться в соцсетях</a>
        <div class="post-links__drop uk-drop" data-uk-drop="delay-hide: 100">
          Иконки соцсетей
        </div>
      </div>
    </div>
  </article>
{% endblock %}
