<section class="banner uk-cover-container">
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
       data-src="resources/img/cabines/cabine4.jpg"
       alt="Душевая кабина" title="Душевая кабина" class="uk-visible@m" data-uk-img="" data-uk-cover="">
  <div class="uk-container">
    <div class="banner-grid uk-grid uk-grid-collapse uk-child-width-1-2@m" data-uk-grid="">
      <div>
        <div class="banner-text">
          <span>Настоящее немецкое качество</span>
          <h2>Классический дизайн Максимальный комфорт и удобство</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur consequuntur doloribus earum
            eligendi ex fuga harum ipsa, iure iusto laboriosam laborum magni minima, pariatur quasi quidem rerum,
            tempore velit?</p>
          <a href="#" class="button-round">
            <span class="button-round__text">В каталог</span><span data-uk-icon="arrow-right"></span>
          </a>
        </div>
      </div>

      <div>
        <div class="banner-product uk-cover-container">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
               data-src="resources/img/cabines/cabine4.jpg"
               alt="Душевая кабина" title="Душевая кабина" class="uk-hidden@m" data-uk-img="" data-uk-cover="">
          <div class="banner-product__text">
            <span class="banner-product__text--description uk-display-block">Душевая кабина</span>
            <span class="banner-product__text--model uk-display-block">RGW OLB-314</span>
            <span class="banner-product__text--price uk-display-block">от 39 812р.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> {# /.banner #}
