<div class="breadcrumbs">
  <div class="uk-container">
    <ul class="breadcrumbs-menu uk-breadcrumb">
      <li><a href="">Главная</a></li>
      <li><a href="">Каталог</a></li>
      <li><span>Душевые кабины</span></li>
    </ul>

    <h1 class="breadcrumbs-title">{{ breadcrumbsTitle }}</h1>
  </div>
</div>
