<footer class="page-footer">
  <div class="uk-container">
    <div class="uk-section">
      <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@m" data-uk-grid="">
        <div>
          <div class="page-footer__item">
            <span class="page-footer__item--title">Наши контакты</span>
            <div class="page-footer__item--contacts">
              <span data-uk-icon="location"></span>
              <p><span>наш адрес</span> Нижний Новгород ул. Базовый проезд, 16</p>
            </div>
            <div class="page-footer__item--contacts">
              <span data-uk-icon="receiver"></span>
              <p>
                <span>телефоны</span>
                <a href="+78312758185">+7 (831) 275-81-85</a>
                <a href="+78312758187">+7 (831) 275-81-87</a>
              </p>
            </div>
            <div class="page-footer__item--contacts">
              <span data-uk-icon="clock"></span>
              <p><span>время работы</span> с 9:00 до 17:00 (Пн-Пт)</p>
            </div>
          </div>
        </div>

        <div>
          <div class="page-footer__item">
            <span class="page-footer__item--title">Наши коллекции</span>
            <ul class="page-footer__item--list">
              <li><a href="#">Дешевые перегородки</a><a href="#">Safari</a></li>
              <li><a href="#">Аксессуары для душа</a><a href="#">Walk in</a></li>
              <li><a href="#">Душевые углы</a><a href="#">Viscount</a></li>
              <li><a href="#">Шторки для душа</a><a href="#">Hotels</a></li>
              <li><a href="#">Средства чистки</a><a href="#">Tornado</a></li>
              <li><a href="#">Сифоны</a><a href="#">Stivol</a></li>
              <li><a href="#">Поддоны</a><a href="#">Leipzig</a></li>
              <li><a href="#">Трапы для душа</a><a href="#">Passage</a></li>
            </ul>
          </div>
        </div>

        <div>
          <div class="page-footer__item">
            <span class="page-footer__item--title">Покупателю</span>
            <ul class="page-footer__item--list">
              <li><a href="#">Статьи и новости</a></li>
              <li><a href="#">Оплата и доставка</a></li>
              <li><a href="#">О компании</a></li>
              <li><a href="#">Контакты</a></li>
              <li><a href="#">Где купить</a></li>
              <li><a href="#">Оптовым покупателям</a></li>
              <li><a href="#">Политика конфинденциальности</a></li>
            </ul>
          </div>
        </div>

        <div>
          <div class="page-footer__item">
            <span class="page-footer__item--title">Кабинет покупателя</span>
            <ul class="page-footer__item--list">
              <li><a href="#">Мои заказы</a></li>
              <li><a href="#">Избранное</a></li>
              <li><a href="#">Просмотренные товары</a></li>
              <li><a href="#">Акции</a></li>
              <li><a href="#">Личные данные</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-footer__copyright uk-section-small">
    <div class="uk-container">
      <div class="uk-grid" data-uk-grid="">
        <div class="uk-width-1-3@m">
          <span>&copy; 2016-2021 RGW-MAGAZIN.RU</span>
          <span>Royal Glass of Water</span>
          <span>Официальный интернет магазин компании RGW</span>
        </div>

        <div class="uk-width-2-3@m">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum excepturi facilis impedit itaque
            officia ratione tempora ullam ut voluptates. Eveniet facilis ipsum vitae voluptas voluptatem. Asperiores,
            atque dignissimos et eveniet fugit necessitatibus nihil odio vitae? Amet asperiores dolore error facere
            fuga id nulla officia officiis placeat, quasi sit, <a href="#">ссылке</a>?</p>
        </div>
      </div>
    </div>
  </div>
</footer>
