<section class="hero">
  <div class="uk-grid uk-grid-collapse uk-child-width-1-2@m" data-uk-grid="">
    <div>
      <div class="hero-slider uk-position-relative" data-uk-slideshow="animation: fade; ratio: false; autoplay: true">
        <ul class="hero-slider__items uk-slideshow-items">
          <li>
            <img src="resources/img/cabines/cabine1.jpg" alt="" data-uk-cover>
            <div class="hero-slider__text">
              <span>Душевые кабины</span>
              <span>RGW OLB-214</span>
              <span>от 39 558 р.</span>
            </div>
          </li>
          <li>
            <img src="resources/img/cabines/cabine2.jpg" alt="" data-uk-cover>
            <div class="hero-slider__text">
              <span>Душевые кабины</span>
              <span>RGW OLB-333</span>
              <span>от 42 558 р.</span>
            </div>
          </li>
          <li>
            <img src="resources/img/cabines/cabine3.jpg" alt="" data-uk-cover>
            <div class="hero-slider__text">
              <span>Душевые кабины</span>
              <span>ASD OLB-333</span>
              <span>от 22 558 р.</span>
            </div>
          </li>
        </ul>

        <ul class="hero-slider__dots uk-slideshow-nav uk-dotnav"></ul>
      </div>
    </div>

    <div>
      <div class="hero-text">
        <div class="hero-text__wrapper">
          <span>Настоящее немецкое качество</span>
          <h1>Классический дизайн Максимальный комфорт и удобство</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur consequuntur doloribus earum
            eligendi ex fuga harum ipsa, iure iusto laboriosam laborum magni minima, pariatur quasi quidem rerum,
            tempore velit?</p>
          <a href="#" class="button-round">
            <span class="button-round__text">В каталог</span><span data-uk-icon="arrow-right"></span>
          </a>
        </div>

        <div class="hero-text__next uk-visible@m">
          <figure class="uk-cover-container">
            <img src="resources/img/cabines/cabine1.jpg"
                 alt="Душевая кабина" title="Душевая кабина" data-uk-cover>
          </figure>
          <div class="hero-text__next--content">
            <span>Далее</span>
            <p>Новая коллекция душевых кабин "Альбижу"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
