<div id="modal-contact" class="modal-contact" data-uk-modal>
  <div class="modal-contact__wrapper uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" data-uk-close></button>
    <p class="modal-contact__title">Отправить заявку</p>
    <p>Перезвоним в течение минуты!</p>
    <form class="phone-form">
      <div class="uk-form-controls">
        <input type="text" class="uk-input phone-input" name="phone" placeholder="+7 (999) 999-99-99" required>
      </div>
      <button type="submit" class="uk-button uk-button-secondary">Отправить</button>
    </form>
  </div>
</div>
