<div id="offcanvas" class="page-offcanvas" data-uk-offcanvas="overlay: true; selClose: .close">
  <div class="uk-offcanvas-bar">
    <figure class="page-offcanvas__logo">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
           data-src="resources/img/logo.png" alt="Логотип" title="Логотип" data-uk-img="">
    </figure>

    {% set items = ['Каталог', "Новинки", "Новости", "Коллекции", "Отелям", "Опт", "Сервис", "Акции"] %}
    <nav class="page-offcanvas__menu">
      <ul data-uk-accordion>
        {% for item in items %}
          <li>
            <a class="uk-accordion-title" href="#">{{ item }} <span data-uk-icon="chevron-down"></span></a>
            <div class="uk-accordion-content">
              <ul>
                <li><a href="#">Ссылка</a></li>
                <li><a href="#">Ссылка</a></li>
                <li><a href="#">Ссылка</a></li>
                <li><a href="#">Ссылка</a></li>
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <div class="page-offcanvas__contacts">
      <div>
        <a href="tel:+7499450-54-90">+7 (499) 450-45-90</a>
        <small>10:00 - 21:00 Без выходных</small>
      </div>
      <div>
        <a href="#modal-contact" class="uk-button uk-button-primary" data-uk-toggle>Оставить заявку</a>
      </div>
    </div>
  </div>
</div>
