.news {
  &-item {
    &__image {
      height: 240px;
      margin: 0;
      @include mq(l) {
        height: 200px;
      }
    }

    &__wrapper {
      padding: 15px;
    }

    &__date {
      color: $gray;
      font-size: 0.9em;
    }

    &__title {
      text-transform: none;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1.2em;
    }

    &__text {
      color: $black;
      margin: 0;
      font-weight: 300;
      font-size: 0.9em;
    }
  }
}
