.payment {
  &-switcher {
    a {
      color: $black;
      font-weight: 500;
      display: block;
      transition: transform 0.3s;
      text-decoration: none;

      &.uk-active {
        color: $blue;
        transform: translateX(15px);
      }

      + a {
        margin-top: 15px;
      }
    }
  }

  &-items {
    font-family: $open-sans;

    h3 {
      font-weight: 600;
      font-size: 1.3em;
      @include mq(m) {
        font-size: 1.6em;
      }
    }

    ul {
      li {
        &::marker {
          color: $blue;
        }

        + li {
          margin-top: 15px;
        }
      }
    }
  }
}
