.postpone {
  header {
    @include mq(s) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      margin: 0;
    }

    .uk-button {
      margin-top: 15px;
      @include mq(s) {
        margin-top: 0;
      }
    }
  }
}
