.products {
  &-item {
    background: $light-gray;
    $parent: &;
    position: relative;

    &__delete {
      position: absolute;
      right: -6px;
      top: -6px;
      width: 20px;
      height: 20px;
      color: $white;
      background: $red;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;

      &:hover {
        text-decoration: none;
        color: $white;
      }

      svg {
        width: 16px;

        path {
          stroke-width: 2;
        }
      }
    }

    &__meta {
      padding: 20px 15px;
      position: relative;

      h3 {
        font-size: 1.1em;
        text-transform: none;
        margin-bottom: 10px;
      }

      &--price {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span {
          &:first-child {
            font-weight: 300;
            text-decoration: line-through;
          }

          &:last-child {
            color: $blue;
            margin-left: 15px;
            font-weight: 700;
            font-size: 1.25em;
          }
        }
      }

      &--discount {
        position: absolute;
        left: 15px;
        bottom: -15px;
        padding: 2px 20px;
        background: $red;
        color: $white;
        display: inline-block;
        z-index: 10;
        font-size: 1.1em;
      }
    }

    &__slideshow {
      &--buttons {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        $this: &;

        @at-root #{$parent}:hover #{$this} {
          opacity: 1;
          visibility: visible;
        }

        a {
          + a {
            margin-top: 10px;
          }
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background: $blue;
          color: $white;

          svg {
            width: 18px;
          }
        }
      }

      &--items {
        height: 380px;

        img {
          filter: brightness(0.9);
        }
      }

      &--dots {
        position: absolute;
        bottom: 60px;
        left: 4px;
        transform: rotate(90deg);

        &.uk-dotnav {
          > .uk-active {
            > * {
              background: $white;
              border: 1px solid $white;
              @extend .uk-box-shadow-medium;
            }
          }

          > * {
            padding-left: 8px;

            > * {
              border: 1px solid $white;
              width: 20px;
              height: 20px;
              background: rgba($gray, 0.7);

              &:hover,
              &:focus {
                border: 1px solid $white;
                background: $white;
              }
            }
          }
        }
      }
    }
  }
}
