.uk-slider {
  .uk-slidenav {
    color: $blue;
    background: $white;

    polyline {
      stroke-width: 2;
    }
  }

  .uk-dotnav {
    > .uk-active {
      > * {
        background: $blue;
        border: 1px solid $blue;
      }
    }

    > * {
      padding-left: 8px;

      > * {
        border: 1px solid $black;
        width: 12px;
        height: 12px;

        &:hover,
        &:focus {
          border: 1px solid $blue;
          background: $blue;
        }
      }
    }
  }
}
